.stachesepl-movable {
    position: absolute;
    z-index: 0;
}

.stachesepl-selectable {
    cursor: pointer;
    user-select: none;

    &.selected {
        z-index: 100 !important;

        &:after {
            content: '';
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            background-color: var(--stachesepl-selectable-color, red);
            border: 2px solid var(--stachesepl-selectable-border-color, red);
        }
    }
}