body.stachesepl-dialog-open {
    overflow: hidden;
}

.stachesepl-dialog {
    border: none;
    width: 100dvw;
    height: 100dvh;
    position: fixed;
    background-color: var(--stachesepl-dialog-overlay, red);
    z-index: 1000;
    box-sizing: border-box;
    display: block;
    left: 0;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;

    &-container {
        width: 600px;
        height: auto;
        background-color: var(--stachesepl-dialog-background-color, red);
        box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
        border-radius: 3px;
        overflow: hidden;
        display: flex;
        align-items: stretch;
        justify-content: space-between;
        flex-direction: column;
    }

    &-title {
        font-size: 20px;
        background-color: var(--stachesepl-dialog-header-background-color, red);
        color: var(--stachesepl-dialog-header-color, red);
        padding: 20px;
        box-sizing: border-box;

        display: flex;
        align-items: center;
        justify-content: flex-start;
        gap: 10px;

        svg {
            font-size: 24px;
        }
    }

    &-content {
        max-height: 75dvh;
        overflow: auto;
        height: 100%;
        width: 100%;
        padding: 20px;
        box-sizing: border-box;

        label {
            color: var(--stachesepl-dialog-label-color, red);
            font-size: 14px;
            display: inline-block;
        }

        input[type="text"] {
            box-sizing: border-box;
            width: auto;
            margin: 0;
            padding: 10px;
            border: none;
            border-radius: 3px;
            background-color: var(--stachesepl-dialog-input-background-color, red);
            color: var(--stachesepl-dialog-input-color, red);

            &::placeholder {
                color: var(--stachesepl-dialog-input-placeholder-color, red);
            }
        }
    }

    &-actions {

        padding: 0 20px 20px 20px;
        box-sizing: border-box;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;

        &-button {
            background-color: var(--stachesepl-dialog-button-close-background-color, red);
            color: var(--stachesepl-dialog-button-close-color, red);
            display: inline-block;
            padding: 8px 16px; /* Reduce height */
            box-sizing: border-box;
            border-radius: 6px;
            width: 100%;
            text-align: center;
            cursor: pointer;
            user-select: none;
            font-weight: 500;

            &:hover {
                background-color: var(--stachesepl-dialog-button-close-hover-background-color, red);
                color: var(--stachesepl-dialog-button-close-hover-color, red);
            }
        }

    }
}