.stachesepl-toolbar {
    width: 100%;
    height: 100%;
    background-color: var(--stachesepl-toolbar-background-color);
    border-right: 1px solid var(--stachesepl-editor-border-color);
    position: relative;
    display: flex;
    flex-direction: column;

    &::after {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        width: 1px;
        background: linear-gradient(
            to bottom,
            transparent,
            var(--stachesepl-editor-border-color) 10%,
            var(--stachesepl-editor-border-color) 90%,
            transparent
        );
    }
}
