body.stachesepl-seat-planner-editor-portal-open {
    > * {
        &:not(.stachesepl-seat-planner-editor-portal-wrapper) {
            display: none;
        }
    }
}

.stachesepl-seat-planner-editor-portal {
    position: fixed;
    width: 100dvw;
    height: 100dvh;
    left: 0;
    top: 0;
    z-index: 99999;
    background: var(--stachesepl-editor-background-color);
    display: flex;
    align-items: center;
    justify-content: center;
    animation: portalFadeIn 300ms cubic-bezier(0.4, 0, 0.2, 1);
}

@keyframes portalFadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
