.stachesepl-modal-open {
    @media (max-width: 782px) {
        overflow: hidden;
    }
}

.stachesepl-seat-planner-portal {
    position: fixed;
    width: 100dvw;
    height: 100dvh;
    left: 0;
    top: 0;
    z-index: 99999;
    background-color: var(--stachesepl-modal-background-color, rgba(0, 0, 0, 0.35));
    backdrop-filter: blur(6px);
    display: flex;
    align-items: center;
    justify-content: center;
    animation: spPortalAnimation 0.2s ease;

    // prevent touch zoom 
    touch-action: none;
    overflow: hidden; // prevents mobile scroll effects

    .react-transform-wrapper {
        animation: spPortalAnimationScale 0.2s ease;
    }
}

@keyframes spPortalAnimation {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes spPortalAnimationScale {
    from {
        transform: scale(0.9);
    }

    to {
        transform: scale(1);
    }
}