.stachesepl-options-container-footer {
    background-color: var(--stachesepl-surface);
}

.stachesepl-options-container {
    .stachesepl-options-container-total {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: 24px;
        border-top: 1px solid var(--stachesepl-border-color);
        font-weight: 500;

        &-label {
            font-size: 1.125rem;
            color: var(--stachesepl-text-secondary-color);
            font-weight: 500;
        }

        &-value {
            font-size: 1.375rem;
            color: var(--stachesepl-text-color);
            font-weight: 600;
        }
    }

    .stachesepl-add-to-cart-button {
        width: 100%;
        margin-top: 24px;
        transition: all 0.2s cubic-bezier(0.4, 0, 0.2, 1);

        &-disabled {
            filter: grayscale(1);
            opacity: 0.6;
        }
    }
}

@media (max-width: 782px) {
    .stachesepl-options-container-footer {
        border-top: 1px solid var(--stachesepl-border-color);
        position: fixed;
        width: 100%;
        left: 0;
        padding: 20px;
        padding-bottom: 1rem;
        box-sizing: border-box;
        bottom: 0;
        animation: stachesepl-options-container-footer-mobile-animation 0.2s ease forwards;
        animation-delay: 0.2s;
        opacity: 0;
        box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.1);
    }
}

@keyframes stachesepl-options-container-footer-mobile-animation {
    from {
        opacity: 0;
        transform: translateY(10px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}