.stachesepl-select-seats-button {
    border-radius: 10px;
    font-weight: 600;
    line-height: 1;
    padding: 0.875rem 1.5rem;
    text-decoration: none;
    text-align: center;
    transition: transform .15s ease, box-shadow .15s ease;
    font-size: 0.875rem;
    cursor: pointer;
    background-color: var(--stachesepl-select-seat-button-background-color, #873eff);
    color: var(--stachesepl-select-seat-button-color, #fff);
    border: none;
    transition: background-color .15s ease, color .15s ease;

    &:hover {
        background-color: var(--stachesepl-select-seat-button-hover-background-color, #722ed1);
        color: var(--stachesepl-select-seat-button-hover-color, #fff);
    }
}