.stachesepl-export-bookings-button {
    background-color: var(--wp-admin-theme-color, #007cba);
    color: #fff;
    padding: 15px 20px;
    box-sizing: border-box;
    border-radius: 3px;
    font-size: 14px;
    line-height: 1;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    cursor: pointer;

    &.disabled {
        background-color: #ccc;
        cursor: not-allowed;
    }
}