.wrap {
    .stsp-page-header {
        background: #fff;
        box-sizing: border-box;
        padding: 0;
        position: fixed;
        width: calc(100% - 160px);
        left: 160px;
        top: 32px;
        z-index: 1001;
        padding: 0 40px;
        min-height: 60px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        &-title {
            background: #fff;
            font-weight: 600;
            font-size: 14px;
        }

        &.is-scrolled {
            box-shadow: 0 8px 8px 0 rgba(85, 93, 102, .3);
        }
    }
}

@media (max-width: 960px) {
    .wrap {
        .stsp-page-header {
            width: calc(100% - 36px);
            left: 36px;
        }
    }
}

@media (max-width: 782px) {
    .wrap {
        .stsp-page-header {
            padding: 0 16px;
            top: 46px;
            width: 100%;
            left: 0;
        }
    }
}

@media (max-width: 600px) {
    div #wpadminbar {
        position: fixed;
    }
}