.stachesepl-seat-planner-dates-stop {
    overflow: hidden;
}

.stachesepl-seat-planner-dates {
    overflow: hidden;

    .stachesepl-date-groups-controls {
        margin-bottom: 12px;
        display: flex;
        justify-content: flex-end;
    }

    .stachesepl-date-groups {
        margin-bottom: 20px;
    }

    .stachesepl-add-date-button {

        .MuiSvgIcon-root {
            font-size: 18px;
        }
    }

    .stachesepl-seat-planner-dates-note {
        margin: 20px 0;
        padding: 10px;
        background-color: #f9f9f9;
        border-radius: 4px;
        border: 1px solid #ccc;
        font-size: 14px;

        p {
            margin: 0;
            font-size: 14px;
            color: #333;
        }
    }
}