.stachesepl-scan-home-content-result {
    box-sizing: border-box;
    width: 500px;
    max-width: 100%;
    border-radius: 10px;
    margin-bottom: 10px;
    background-color: #f9f9f9;
    padding: 30px;
    padding-top: 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    animation: stachesepl-display-result-fade-in 0.3s ease;

    .result-valid {
        padding: 30px;
        border-bottom: 2px dotted #ccc;
        text-align: center;
        font-size: 24px;
        font-weight: bold;
        color: #4caf50;
        margin-bottom: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;

        svg {
            width: 50px;
            height: 50px;
            margin-bottom: 10px;
        }

        span {
            font-size: 20px;
            font-weight: bold;
            text-transform: uppercase;
            line-height: 1.4;
        }
    }

    .result-product-title {
        text-align: center;
        font-weight: 500;
        font-size: 24px;
        padding: 20px;
        color: #333;
        line-height: 1.4;
    }

    .result-row {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 15px 0;
        border-bottom: 1px solid #eee;

        &:last-child {
            border-bottom: none;
        }

        span:first-child {
            font-weight: 500;
            color: #555;
            font-size: 16px;
        }

        span:last-child {
            color: #777;
            font-size: 14px;
        }
    }

    .result-scanned-details {
        margin-top: 20px;

        .result-scanned-date,
        .result-scanned-by {
            font-size: 14px;
            color:#555;
            display: block;
            text-transform: none;
            font-weight: 500;
        }
    }

    &.invalid {
        border: 2px solid #f44336;
        background-color: #ffebee;
        color: #f44336;

        .result-valid {
            color: #f44336;

            svg {
                fill: #f44336;
            }

            span {
                color: #f44336;
            }
        }
    }

    &.used {
        border: 2px solid #ff9800;
        background-color: #fff3e0;
        color: #ff9800;

        .result-valid {
            color: #ff9800;

            svg {
                fill: #ff9800;
            }

            span {
                color: #ff9800;
            }

        }
    }

    &.expired {
        border: 2px solid #f44336;
        background-color: #fff3e0;
        color: #f44336;

        .result-valid {
            color: #f44336;

            svg {
                fill: #f44336;
            }

            span {
                color: #f44336;
            }

        }
    }
}

@keyframes stachesepl-display-result-fade-in {
    from {
        opacity: 0;
        transform: scale(0.9);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}