    .stachesepl-toolbar-properties-round {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        flex-direction: row-reverse;
        gap: 5px;
        box-sizing: border-box;
        width: 100%;
        padding: 10px;

        label {
            color: var(--stachesepl-toolbar-label-color, red);
            font-size: 14px;
            cursor: pointer;
        }

        input {
            max-width: 20px;
            box-sizing: border-box;
            border: none;
            padding: 5px 10px;
            border-radius: 3px;
            cursor: pointer;
        }
    }