.stachesepl-tooltip-properties-selectedcount {
    background: linear-gradient(
        to top,
        var(--stachesepl-toolbar-background-color),
        var(--stachesepl-toolbar-background-color) 80%,
        transparent
    );
    color: var(--stachesepl-tooltip-items-count-color);
    text-align: center;
    font-size: 11px;
    font-weight: 500;
    letter-spacing: 0.03em;
    padding: 12px 16px;
    width: 100%;
    box-sizing: border-box;
    position: absolute;
    bottom: 0;
    
    span {
        background: var(--stachesepl-toolbar-item-background-color);
        padding: 4px 12px;
        border-radius: 12px;
        border: 1px solid var(--stachesepl-editor-border-color);
    }
}
