.stachesepl-seat-planner-header-button {
    background-color: var(--stachesepl-btn-primary-bg);
    color: var(--stachesepl-btn-primary-text, #fff);
    border: none;
    outline: none;
    border-radius: var(--stachesepl-radius-sm);
    padding: 0.75rem 1.125rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6px;
    line-height: 1;
    font-size: 0.875rem;
    font-weight: 600;
    transition: all var(--stachesepl-btn-transition, 0.2s ease);
    position: relative;
    white-space: nowrap;

    svg {
        font-size: 0.875rem;
        position: relative;
        top: 0.5px;
    }

    &:hover {
        background-color: var(--stachesepl-btn-primary-hover);
        color: var(--stachesepl-btn-primary-text-hover, #fff);
    }

    &.secondary {
        background-color: var(--stachesepl-btn-secondary-bg);
        color: var(--stachesepl-btn-secondary-text);

        &:hover {
            background-color: var(--stachesepl-btn-secondary-hover);
            color: var(--stachesepl-btn-secondary-text-hover);
        }

    }

    &.stachesepl-loading {
        color: rgba(0, 0, 0, 0) !important;
        filter: grayscale(100%);
        pointer-events: none;
        transition: color 0.3s ease, background-color 0.3s ease, filter 0.1s ease;
        
        .stachesepl-circ-loader {
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
        }
    }

}
