.stsp-seat-planner-header-button {

    background-color: var(--stsp-header-button-background-color, #333);
    color: var(--stsp-header-button-color, #fff);
    border: none;
    outline: none;
    border-radius: 3px;
    padding: 0.5rem 1rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;

    svg {
        font-size: 1.2rem;
    }

    &:hover {
        background-color: var(--stsp-header-button-hover-background-color, #1c1c1c);
        color: var(--stsp-header-button-hover-color, #fff);
    }

    &.secondary {
        background-color: var(--stsp-header-button-secondary-background-color, #eeeeee);
        color: var(--stsp-header-button-secondary-color, #202020);

        &:hover {
            background-color: var(--stsp-header-button-hover-background-color, #d5d5d5);
            color: var(--stsp-header-button-hover-color, #202020);
        }
        
    }

    &.loading {
        color: rgba(0, 0, 0, 0) !important;

        &:after {
            color:#fff;
        }
    }

    &:after {
        color: #fff;
    }
}

