.stachesepl-seat-planner-header-button {

    background-color: var(--stachesepl-header-button-background-color, #333);
    color: var(--stachesepl-header-button-color, #fff);
    border: none;
    outline: none;
    border-radius: 6px;
    padding: 0.75rem 1rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    line-height: 1;
    font-size: 0.875rem;
    font-weight: 500;
    transition: color 0.3s ease, background-color 0.3s ease, filter 0.3s ease;

    svg {
        font-size: 1rem;
        position: relative;
        top: 0.063rem;
    }

    &:hover {
        background-color: var(--stachesepl-header-button-hover-background-color, #000000);
        color: var(--stachesepl-header-button-hover-color, #fff);
    }

    &.secondary {
        background-color: var(--stachesepl-header-button-secondary-background-color, #eeeeee);
        color: var(--stachesepl-header-button-secondary-color, #202020);

        &:hover {
            background-color: var(--stachesepl-header-button-hover-background-color, #d5d5d5);
            color: var(--stachesepl-header-button-hover-color, #202020);
        }
        
    }

    &.stachesepl-add-to-cart-button {
        background-color: var(--stachesepl-add-to-cart-button-background-color, #2c9f45);
        color: var(--stachesepl-add-to-cart-button-color, #fff);

        &:hover {
            background-color: var(--stachesepl-add-to-cart-button-hover-background-color, #0abf53);
            color: var(--stachesepl-add-to-cart-button-hover-color, #fff);
        }
    }

    &.stachesepl-loading {
        color: rgba(0, 0, 0, 0) !important;
        filter: grayscale(100%);
        transition: color 0.3s ease, background-color 0.3s ease, filter 0.1s ease;
        .stachesepl-circ-loader {
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
        }
    }

    &:after {
        color: #fff;
    }
}

