.stachesepl-workflow-settings {

    margin-bottom: 20px;

    >div {

        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 200px;

        &:not(:first-child) {
            margin-top: 20px;
        }

        .stachesepl-input-text {
            width: auto;
            flex: none;
        }
    }

    .stachesepl-input-color {
        width: 100px;
    }
}