.stachesepl-seat-planner-custom-fields {

    .stachesepl-seat-planner-custom-fields-list {
        margin: 20px 0;
        padding: 0;
        list-style-type: none;
    }

    .stachesepl-seat-planner-custom-fields-note {
        margin: 20px 0;
        padding: 10px;
        background-color: #f9f9f9;
        border-radius: 4px;
        border: 1px solid #ccc;
        font-size: 14px;
    }

    @media (max-width: 782px) {
        padding: 12px;
    }
}