.stachesepl-seat-planner-custom-fields {

    .stachesepl-custom-fields-controls {
        margin-bottom: 12px;
        text-align: right;
    }

    .stachesepl-seat-planner-custom-fields-list {
        margin: 20px 0;
        padding: 0;
        list-style-type: none;
    }

    @media (max-width: 782px) {
        padding: 12px;
    }
}