.stachesepl-seat-planner-reserved-seats {

    .stachesepl-seat-planner-reserved-seats-groups {
        margin: 20px auto;
        display: grid;
        gap: 20px;
    }

    .stachesepl-seat-planner-reserved-seats-group {
        border:1px solid #ccc;
        border-radius: 4px;       
        padding: 20px;
        box-sizing: border-box; 

        .stachesepl-seat-planner-reserved-seats-time-slot-label {
            font-weight: 600;
            margin-bottom: 20px;
        }
    }

    ul {
        margin: 20px 0;
        padding: 0;
        list-style-type: none;

        li {
            display: flex;
            align-items: center;
            gap: 10px;
            margin-bottom: 10px;

            label {
                margin: 0;
                width: 100%;
                display: flex;
                align-self: flex-start;
                align-items: flex-start;
                flex-direction: column;
                gap: 5px;

            }

            input[type="text"] {
                width: 100%;
                margin-right: 10px;
                padding: 5px 10px;
                border: 1px solid #ccc;
                border-radius: 4px;
            }

            .MuiSvgIcon-root {
                cursor: pointer;
                color: #1a1d21;
                font-size: 20px;
                margin-top: 19px;

                &:hover {
                    color: #fc636b;
                }
            }
        }
    }

    .stachesepl-seat-planner-reserved-seats-groups-single {
        .stachesepl-seat-planner-reserved-seats-group ul {
            margin: 0;
        }
    }

}

@media (max-width: 782px) {
    .stachesepl-seat-planner-reserved-seats {

        ul {
            li {
                position: relative;
                flex-direction: column;
                margin-bottom: 40px;
                padding-bottom: 40px;
                border-bottom: 1px solid #ccc;

                svg {
                    margin-top: 0 !important;
                    position: absolute;
                    top: 0;
                    right: 0;
                }
            }
        }
    }
}