    .stachesepl-toolbar-properties-price {
        gap: 10px;
        box-sizing: border-box;
        width: 100%;
        padding: 10px;


        label {
            color: var(--stachesepl-toolbar-label-color, red);
            font-size: 14px;
            margin-bottom: 5px;
        }

        input {
            width: 100%;
            box-sizing: border-box;
            border: none;
            padding: 5px 10px;
            border-radius: 3px;
        }
    }