.stachesepl-option-label {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 10px;
    gap: 0;
}

.stachesepl-option-label-row {
    display: inline-flex;
    align-items: center;
    gap: 5px;
    min-height: 26px;
}

.stachesepl-option-label-text {
    font-size: 0.875rem;
    font-weight: 500;
    color: var(--stachesepl-text-color);
    line-height: 1.4;
}

.stachesepl-option-label-required-indicator {
    color: var(--stachesepl-color-error);
    font-weight: 600;
    font-size: 0.875rem;
}

.stachesepl-option-description {
    font-size: 0.8rem;
    font-weight: 400;
    color: var(--stachesepl-text-secondary-color);
    line-height: 1.5;
}