.stachesepl-scanner-footer {
    text-align: center;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    box-sizing: border-box;
    width: 100%;

    button {
        width: 100%;
    }
}