.stachesepl-toolbar-properties-colors {
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    padding: 0;
    gap: 0;
    box-sizing: border-box;

    > div {
        flex: 1;
    }
}
