.stsp-seat-planner-header {
    font-size: 0.875rem;
    z-index: 100;
    background-color: var(--stsp-header-background-color, #fff);
    color: var(--stsp-header-color, #333);
    font-weight: 600;
    padding: 0.75em 1.25em;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1.25rem;
    min-height: 3.813rem;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    animation: stsp-seat-planner-header-animation 0.2s ease;
    box-sizing: border-box;

    .stsp-seat-planner-header-label {
        font-size: 1rem;
        white-space: nowrap;
    }

    .stsp-seat-planner-header-buttons {

    }
}

@media (min-width: 768px) {
    .stsp-seat-planner-header {
        width: 37.5rem;
        left: auto;
        right: auto;
        border-bottom-left-radius: 8px;
        border-bottom-right-radius: 8px;
    }
}

@keyframes stsp-seat-planner-header-animation {
    from {
        transform: translateY(-100%);
    }

    to {
        transform: translateY(0);
    }
}