.stachesepl-seat-planner-header {
    z-index: 100;
    background-color: var(--stachesepl-surface);
    padding: 0.625rem 0.875rem 0.625rem 1.25rem;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    animation: stachesepl-seat-planner-header-animation 0.2s ease;
    box-sizing: border-box;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);

    .stachesepl-seat-planner-header-label {
        font-size: 1rem;
        line-height: 1.2;
        font-weight: 600;
        color: var(--stachesepl-text-color);
    }

    &-buttons {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
        
        @media (max-width: 782px) {
            width: 100%;
        }
    }

    &-button {
        flex: 1;
        white-space: nowrap;
    }

}

@media (min-width: 782px) {
    .stachesepl-seat-planner-header {
        width: 37.5rem;
        left: auto;
        right: auto;
        border-bottom-left-radius: var(--stachesepl-radius-lg);
        border-bottom-right-radius: var(--stachesepl-radius-lg);
    }
}

@media (max-width: 782px) {
    .stachesepl-seat-planner-header {
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
        flex-direction: column;
        gap: 1rem;
        padding: 1rem;
        border-bottom: 1px solid var(--stachesepl-border-color);

        .stachesepl-seat-planner-header-label {
            font-size: 1.125rem;
        }
    }
}

@keyframes stachesepl-seat-planner-header-animation {
    from {
        opacity: 0;
        transform: translateY(-100%);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}
