.stachesepl-seat-planner-header {
    font-size: 0.875rem;
    z-index: 100;
    background-color: var(--stachesepl-header-background-color, #fff);
    color: var(--stachesepl-header-color, #333);
    font-weight: 600;
    padding: 0.5em 0.75em 0.5em 1.25em;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1.25rem;
    min-height: 3.813rem;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    animation: stachesepl-seat-planner-header-animation 0.2s ease;
    box-sizing: border-box;

    .stachesepl-seat-planner-header-label {
        font-size: 1rem;
        white-space: nowrap;
    }

    .stachesepl-add-to-cart-button {
        opacity: 0;
        animation: stachesepl-add-to-cart-button-fade-in 0.3s ease forwards;
    }

}

@media (min-width: 768px) {
    .stachesepl-seat-planner-header {
        width: 37.5rem;
        left: auto;
        right: auto;
        border-bottom-left-radius: 12px;
        border-bottom-right-radius: 12px;
    }
}

@media (max-width: 768px) {
    .stachesepl-seat-planner-header {
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
    }
}

@keyframes stachesepl-seat-planner-header-animation {
    from {
        transform: translateY(-100%);
    }

    to {
        transform: translateY(0);
    }
}

@keyframes stachesepl-add-to-cart-button-fade-in {
    from {
        opacity: 0;
        transform: translateX(5px);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}