.stachesepl-pdf-preview {
    display: flex;
    flex-direction: column;
    gap: var(--stachesepl-space-6);
}

.stachesepl-pdf-preview-form {
    display: flex;
    flex-direction: column;
    gap: var(--stachesepl-space-4);
    max-width: 400px;
}

.stachesepl-pdf-preview-input-group {
    display: flex;
    flex-direction: column;
    gap: var(--stachesepl-space-2);
}

