.stachesepl-seat-selector-loader-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  padding: 38px 64px;
  // background: rgba(0, 0, 0, 0.75);
  // border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 20px;
  // box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  transition: opacity 0.3s ease, transform 0.3s ease;
  transition-delay: 0.25s;
  min-width: 280px;

  .stachesepl-circ-loader {
    // --stachesepl-circ-loader-color: var(--stachesepl-select-seat-button-background-color);
  }
}

@starting-style {
  .stachesepl-seat-selector-loader-container {
    opacity: 0;
    transform: translateY(10px);
  }
}