.stachesepl-loader-wrapper {
    position: fixed;
    background-color: rgba(255, 255, 255, 0.5);
    top: 0;
    left: 0;
    width: 100dvw;
    height: 100dvh;
    z-index: 1000;
}

.stachesepl-loader {

    position: fixed;
    padding: 20px 26px 20px 16px;
    background-color: #fff;
    border: 1px solid #ddd;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 16px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    animation: strsai-loader-fade-animation 0.5s ease;

    svg {
        animation: strsai-loader-spin-animation 1s linear infinite;
        display: inline-block;
        path {
            stroke: var(--wp-admin-theme-color);
        }
    }

    span {
        color: #202020;
        font-weight: 500;
        font-family: 16px;
    }

}

@keyframes strsai-loader-fade-animation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes strsai-loader-spin-animation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}