.stachesepl-toolbar-properties-handicap {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 12px;
    box-sizing: border-box;
    width: 100%;
    padding: 12px 16px;

    label {
        color: var(--stachesepl-toolbar-label-color);
        font-size: 13px;
        font-weight: 500;
        cursor: pointer;
        user-select: none;
        flex: 1;
    }
}
