.stachesepl-tooltip-properties {
    &-content {
        max-height: calc(100dvh - 145px);
        overflow: auto;
        padding: 0 0 24px 0;
        flex: 1;

        > .stachesepl-toolbar-properties-color {
            padding: 16px;
            box-sizing: border-box;
        }
    }
}
