.stachesepl-scanner-body-wrapper {
    padding: 20px;
    box-sizing: border-box;
    width: 100%;
}

.stachesepl-scanner-body {
    box-sizing: border-box;
    background-color: #fff;
    width: 100%;
    position: relative;
    border-radius: 4px;
    overflow: hidden;

    &-overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border: 50px solid rgba(0, 0, 0, 0.3);
        box-sizing: border-box;
        z-index: 1;

        svg {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            font-size: 100px;
            color: #000;
            opacity: 0.3;
        }
    }
}