.stachesepl-modal-open {}

.stachesepl-modal-overlay {
    position: fixed;
    width: 100dvw;
    height: 100dvh;
    left: 0;
    top: 0;
    z-index: 99999;
    background-color: rgba(0, 0, 0, 0.25);
    display: flex;
    align-items: center;
    justify-content: center;
}

.stachesepl-modal {
    animation: stachesepl-modal-appear 0.3s ease;
    max-width: 100%;
}

@keyframes stachesepl-modal-appear {
    from {
        opacity: 0;
        transform: scale(0.9);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}