.stachesepl-object {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    user-select: none;
}

.stachesepl-object-type-screen {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    box-sizing: border-box;

    &-label {
        position: absolute;
        left: 0;
        right: 0;
        text-align: center;
        z-index: 1;
    }

    .stachesepl-screen-persepective {
        perspective: 500px;
        width: inherit;
        height: inherit;

        .stachesepl-screen-vis {
            width: inherit;
            height: inherit;
            transform: rotateX(-45deg);
            width: 100%;
            height: 100%;
        }
    }
}