.stachesepl-top-button {
    color: var(--stachesepl-top-button-color, red);
    background-color: var(--stachesepl-top-button-background-color, red);
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    float: left;
    cursor: pointer;

    svg {
        font-size: 30px;
    }

    &:hover {
        background-color: var(--stachesepl-top-button-hover-background-color, red);
        color: var(--stachesepl-top-button-hover-color, red);
    }
}