.stachesepl-discounts-container-outer {
    position: fixed;
    width: 100dvw;
    height: 100dvh;
    left: 0;
    top: 0;
    align-items: flex-start;
    justify-content: center;
    display: flex;
    overflow: auto;
}

.stachesepl-discounts-container {
    margin-top: 200px;
    margin-bottom: 200px;
    background: #fff;
    padding: 30px;
    width: 100%;
    border-radius: 12px;
    max-width: 900px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    animation: stachesepl-discount-container-animation 0.2s ease;


    &-title {
        margin: 0;
        font-size: 1.6em;
        color: #202020;
        font-weight: 500;
    }

    &-subtitle {
        margin: 0;
        font-size: 1em;
        color: #545454;
    }

    .stachesepl-discounts-container-seats {
        display: flex;
        flex-direction: column;
        gap: 25px;
        margin: 30px 0;

        .stachesepl-discounts-container-seat {
            display: grid;
            grid-template-columns: 1fr 1fr;
            align-items: center;
            gap: 20px;
            border-radius: 8px;
            background: #fff;

            .stachesepl-discounts-container-seat-label {
                font-weight: 700;
                color: #202020;
                white-space: nowrap;
            }

            select {
                padding: 10px;
                border-radius: 8px;
                border: 1px solid #ccc;
                background: #fff;
                height: auto;
                cursor: pointer;
            }
        }
    }

    .stachesepl-discounts-container-total {
        display: flex;
        justify-content: space-between;
        padding-top: 20px;
        border-top: 1px solid #ccc;
        font-weight: 500;
        background: #fff;

        &-label {
            font-size: 1.2em;
            color: #202020;
        }

        &-value {
            font-size: 1.2em;
            color: #202020;
            font-weight: bold;
        }
    }

    .stachesepl-add-to-cart-button {
        width: 100%;
        margin-top: 30px;
    }
}

@keyframes stachesepl-discount-container-animation {
    from {
        transform: scale(0.9);
    }

    to {
        transform: scale(1);
    }
}

@media (max-width: 782px) {

    .stachesepl-discounts-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        border-radius: 0;
        margin-top: 56px;
        min-height: calc(100dvh - 56px);
        margin-bottom: 0;
        padding-bottom: 160px;

        .stachesepl-discounts-container-total {
            margin-top: 0;
            padding-top: 0;
            border: none;
        }
    }

    .stachesepl-discounts-container-footer {
        border-top: 1px solid #ccc;
        position: fixed;
        width: 100%;
        left: 0;
        background: #fff;
        padding: 20px;
        box-sizing: border-box;
        bottom: 0;
        animation: stachesepl-discounts-container-footer-mobile-animation 0.2s ease forwards;
        animation-delay: 0.2s;
        opacity: 0;
    }
}

@keyframes stachesepl-discounts-container-footer-mobile-animation {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@media (max-width: 782px) {

    .stachesepl-discounts-container {
        .stachesepl-discounts-container-seats {
            .stachesepl-discounts-container-seat {
                grid-template-columns: 1fr;
                gap: 10px;
            }
        }
    }

}