.stachesepl-input-field {
    display: flex;
    flex-direction: column;
    gap: 0;
}

input[type="text"].stachesepl-input-field-input {
    all: unset;
    box-sizing: border-box;
    width: 100%;
    padding: 12px 14px;
    border-radius: var(--stachesepl-radius-md);
    border: 1px solid var(--stachesepl-border-color);
    font-size: 0.875rem;
    height: 48px;
    color: var(--stachesepl-text-color);
    background-color: rgba(0,0,0,0.025);
    transition: all var(--stachesepl-transition, 0.2s ease);
    font-family: inherit;

    &::placeholder {
        font-size: 0.875rem;
        color: var(--stachesepl-color-text-secondary);
    }

    &:hover {
        background-color: transparent;
    }

    &:focus {
        outline: none;
        border-color: var(--stachesepl-accent-color);
        box-shadow: 0 0 0 3px var(--stachesepl-accent-color-20);
        background-color: var(--stachesepl-surface);
    }
}

.stachesepl-input-field-error {
    .stachesepl-input-field-input {
        border-color: var(--stachesepl-color-error);

        &:focus {
            border-color: var(--stachesepl-color-error);
            box-shadow: 0 0 0 3px rgba(var(--stachesepl-color-error), 0.1);
        }
    }
}

@media (max-width: 782px) {
    input[type="text"].stachesepl-input-field-input {
        font-size: 1rem;
        padding: 14px;
        height: 52px;
    }
}
