.stachesepl-page-settings {
    max-width: 900px;
}

.stachesepl-page-settings-content {
    margin-bottom: var(--stachesepl-space-6);

    .stachesepl-select-container,
    .stachesepl-input-container {
        max-width: 400px;
    }
}

.stachesepl-page-settings-footer {
    display: flex;
    align-items: center;
    gap: var(--stachesepl-space-4);
    padding-top: var(--stachesepl-space-4);
    border-top: 1px solid var(--stachesepl-border-light);
}