.stachesepl-seat-planner-discounts {

    .stachesepl-discounts-controls {
        margin-bottom: 12px;
        text-align: right;
    }

    .stachesepl-seat-planner-discounts-list {
        margin: 20px 0;
    }
}

@media (max-width: 782px) {
    .stachesepl-seat-planner-discounts {
        .stachesepl-seat-planner-discounts-list {
            margin-bottom: 12px;
        }
    }
}