.stachesepl-seat-planner-discounts {

    .stachesepl-seat-planner-discounts-list {
        margin: 20px 0;
    }

    .stachesepl-add-discount-button {

        .MuiSvgIcon-root {
            font-size: 18px;
        }
    }
}

@media (max-width: 782px) {
    .stachesepl-seat-planner-discounts {
        .stachesepl-seat-planner-discounts-list {
            margin-bottom: 12px;
        }
    }
}