.stachesepl-seat-planner-discounts {
    padding: 1em 1.5em;
    box-sizing: border-box;

    .stachesepl-seat-planner-discounts-head {
        margin: 0 !important;
    }

    .stachesepl-seat-planner-discounts-subtitle {
        margin: 0 !important;
        padding: 0 !important;
        font-size: 12px;
        color: #545454;
    }

    ul {
        margin: 20px 0;
        padding: 0;
        list-style-type: none;
    }

    .stachesepl-seat-planner-discounts-note {
        margin: 20px 0;
        padding: 10px;
        background-color: #f9f9f9;
        border-radius: 4px;
        border: 1px solid #ccc;
        font-size: 14px;

        p {
            margin: 0;
            font-size: 14px;
            color: #333;
        }
    }
}