.stachesepl-tooltip-properties-header {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-weight: 600;
    font-size: 14px;
    text-transform: uppercase;
    color: var(--stachesepl-tooltip-properties-header-color);
    background: var(--stachesepl-tooltip-properties-header-background-color);
    padding: 16px 20px;
    position: relative;
    
    &::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 16px;
        right: 16px;
        height: 1px;
        background: linear-gradient(
            to right,
            transparent,
            rgba(255, 255, 255, 0.1) 20%,
            rgba(255, 255, 255, 0.1) 80%,
            transparent
        );
    }

    svg {
        font-size: 20px;
        opacity: 0.8;
    }
}
