.stachesepl-import-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.stachesepl-import-content-desc {
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 20px;
    line-height: 1;
}

.stachesepl-import-input {
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100%;
    max-width: 300px;
}

.stachesepl-import-button {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.stachesepl-import-button:hover {
    background-color: #0056b3;
}