.stachesepl-seat-planner-discounts {
    padding: 1em 1.5em;
    box-sizing: border-box;

    .stachesepl-seat-planner-discounts-head {
        margin: 0 !important;
    }

    ul {
        margin: 20px 0;
        padding: 0;
        list-style-type: none;
    }

    .stachesepl-discount-page-button {
        filter: saturate(0)
    }
}