.stachesepl-button {
    padding: 12px 18px;
    border: none;
    border-radius: 3px;
    font-size: 16px;
    background-color: var(--wp-admin-theme-color, #007cba);
    color: #fff;
    cursor: pointer;
    line-height: 1;

    &:hover {
        background-color: var(--wp-admin-theme-color-darker-10, #006ba1);
    }
}