.stachesepl-note {
    margin: 20px 0;
    padding: 10px 16px;
    background-color: #f9f9f9;
    border-radius: 4px;
    border: 1px solid #ccc;
    font-size: 13px;
    color: #545454;

    p {
        margin: 0;
        font-size: inherit;
        color: inherit;
    }
}
