.stachesepl-input-color {

    position: relative;

    &-preview {
        width: 100%;
        height: 38px;
        border-radius: 3px;
        cursor: pointer;
        box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1);
    }

    &-content {
        transition: transform 0.2s ease, opacity 0.2s ease;
        margin-top: 5px;
        position: absolute;
        z-index: 1000;
        max-width: 100%;
        width: 400px;
        padding: 10px;
        box-sizing: border-box;
        border-radius: 12px;
        background-color: var(--rcp-background-color);
        filter: drop-shadow(0 3px 6px rgba(0, 0, 0, 0.3));

        .rcp-root {
            // --rcp-background-color: #fff;
            // --rcp-field-input-color: #202020;
            // --rcp-field-input-border-color: #ddd;
            // --rcp-field-label-color: #545454;

            .rcp-field-label {
                display: none;
            }
        }

        .rcp-saturation {
            border-radius: 8px;
            cursor: pointer;
        }

        .rcp-hue {
            cursor: pointer;
        }

        .rcp-field-input {
            font-weight: 500;
            font-weight: 0.875rem;
            color: var(--rcp-field-input-color);
        }

        .rcp-body {
            padding-bottom: 10px;
        }

        &-top {
            &:before {
                content: '';
                position: absolute;
                bottom: -8px;
                left: 25px;
                width: 0;
                height: 0;
                border-left: 8px solid transparent;
                border-right: 8px solid transparent;
                border-top: 8px solid var(--rcp-background-color);
                transform: translateX(-50%);
            }
        }

        &:not(.stachesepl-input-color-content-top) {
            &:before {
                content: '';
                position: absolute;
                top: -8px;
                left: 25px;
                width: 0;
                height: 0;
                border-left: 8px solid transparent;
                border-right: 8px solid transparent;
                border-bottom: 8px solid var(--rcp-background-color);
                transform: translateX(-50%);
            }
        }

    }

}

@starting-style {
    .stachesepl-input-color {
        &-content {
            opacity: 0;
            transform: translateY(10px);
        }
    }
}