.stachesepl-admin-container {
    padding: 1em 1.5em;
    box-sizing: border-box;

    .stachesepl-admin-container-label {
        margin: 0 !important;
        font-size: 1.1em;
        color: #555;
    }

    .stachesepl-admin-container-description {
        margin: 0 !important;
        padding: 0 !important;
        font-size: 0.875em;
        color: #545454;
    }

}