.stachesepl-scanner-header {
    padding-top: 30px;
    text-align: center;

    h2 {
        margin: 0;
        font-size: 24px;
        font-weight: 500;
    }
    
    p {
        margin: 0;
        margin-top: 5px;
        font-size: 14px;
        color: #666;
    }
}