.stachesepl-seat-planner-portal-container {
    max-width: 100dvw;
    max-height: 100dvh;
    box-sizing: border-box;
    overflow: hidden;

    &-transform-controls {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        margin: 0 auto;
        height: 2.75rem;
        z-index: 100;

        animation: stachesepl-seat-planner-portal-container-controls-animation 0.2s ease;

        &-buttons {
            overflow: auto;
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 100%;
            gap: 1px;

            button {
                border-radius: 0;
                height: 2.75rem;
                border: none;
                background-color: var(--stachesepl-zoom-control-button-background-color, #f4f4f4);
                color: var(--stachesepl-zoom-control-button-color, #333);
                outline: none;
                width: 100%;
                white-space: nowrap;
                flex: 1;
                padding: 0.75em 1em;
                font-weight: 500;
                font-size: 0.875rem;
                cursor: pointer;

                &:hover {
                    background-color: var(--stachesepl-zoom-control-button-hover-background-color, #fff);
                }

                &:active {
                    background-color: var(--stachesepl-zoom-control-button-active-background-color, #f4f4f4);
                }
            }
        }
    }

    .react-transform-wrapper {
        max-width: 100dvw;
        max-height: 100dvh;
        width: 100dvw;
        height: 100dvh;
        top: 0.5rem;

    }

    .react-transform-component {
        border-radius: 8px;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
        overflow: hidden;
    }
}

@media (min-width: 48em) {
    .stachesepl-seat-planner-portal-container {

        &-transform-controls {
            width: 31.25rem;
            border-top-left-radius: 8px;
            border-top-right-radius: 8px;
            overflow: hidden;
            box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.1);

        }
    }
}

@media (max-width: 768px) {
    .stachesepl-seat-planner-portal-container {
        .react-transform-wrapper {
            max-height: calc(100dvh - 5.5rem);
            top: 0.55rem;
        }

        .react-transform-component {
            border-radius: 0;
            box-shadow: none;
        }

    }

}

@keyframes stachesepl-seat-planner-portal-container-controls-animation {
    from {
        transform: translateY(100%);
    }

    to {
        transform: translateY(0);
    }
}