.stachesepl-seat-planner-portal-container {
    max-width: 100dvw;
    max-height: 100dvh;
    box-sizing: border-box;
    overflow: hidden;

    &-transform-controls {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        margin: 0 auto;
        height: 2.75rem;
        z-index: 100;

        animation: stachesepl-seat-planner-portal-container-controls-animation 0.2s ease;

        &-buttons {
            overflow: auto;
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 100%;
            gap: 0;
            box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.1);
            border-top-left-radius: 12px;
            border-top-right-radius: 12px;

            @media (max-width: 782px) {
                border-top-left-radius: 0;
                border-top-right-radius: 0;
            }

            button {
                border-radius: 0;
                height: 2.75rem;
                border: none;
                background-color: var(--stachesepl-surface);
                color: var(--stachesepl-text-secondary-color);
                outline: none;
                width: 100%;
                white-space: nowrap;
                flex: 1;
                display: flex;
                align-items: center;
                justify-content: center;
                padding: 0.75rem 1rem;
                font-size: 0.875rem;
                cursor: pointer;
                transition: background-color var(--stachesepl-btn-transition), color var(--stachesepl-btn-transition);

                &:first-child {
                    border-top-left-radius: 12px;
                    border-right: 1px solid var(--stachesepl-border-color);
                }

                &:last-child {
                    border-top-right-radius: 12px;
                    border-left: 1px solid var(--stachesepl-border-color);
                }

                &:hover {
                    background-color: var(--stachesepl-btn-primary-bg);
                    color: var(--stachesepl-btn-primary-text);
                }

                &:active {
                    background-color: var(--stachesepl-btn-primary-hover);
                    color: var(--stachesepl-btn-primary-text-hover);
                }

                @media (max-width: 782px) {
                    &:first-child {
                        border-top-left-radius: 0;
                    }
    
                    &:last-child {
                        border-top-right-radius: 0;
                    }
                }

            }
        }
    }

    .react-transform-wrapper {
        max-width: 100dvw;
        max-height: 100dvh;
        width: 100dvw;
        height: 100dvh;
        top: 0.5rem;

    }

    .react-transform-component {
        border-radius: 12px;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
        overflow: hidden;
    }
}

@media (min-width: 782px) {
    .stachesepl-seat-planner-portal-container {

        &-transform-controls {
            width: 25rem;
        }
    }
}

@media (max-width: 782px) {

    .stachesepl-seat-planner-portal-container {
        .react-transform-wrapper {
            max-height: calc(100dvh - 5.5rem);
            top: 2rem;
        }

        .react-transform-component {
            box-shadow: none;
        }

        &-transform-controls { 
            bottom:0;
        }

    }

}

@keyframes stachesepl-seat-planner-portal-container-controls-animation {
    from {
        transform: translateY(100%);
    }

    to {
        transform: translateY(0);
    }
}