.stachesepl-scanner {
    box-sizing: border-box;
    background-color: #fff;
    border-radius: 12px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    width: 500px;
    max-width: 100%;
}

@media all and (max-width: 782px) {
    .stachesepl-scanner {
        height: 100dvh;
        width: 100vw;
        border-radius: 0;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}